[Desktop Entry]
Name=StarlessCityNight
Name[bs]=StarlessCityNight
Name[ca]=StarlessCityNight
Name[ca@valencia]=StarlessCityNight
Name[cs]=StarlessCityNight
Name[da]=StarlessCityNight
Name[de]=StarlessCityNight
Name[el]=StarlessCityNight
Name[en_GB]=StarlessCityNight
Name[es]=StarlessCityNight
Name[et]=StarlessCityNight
Name[eu]=StarlessCityNight
Name[fi]=StarlessCityNight
Name[fr]=StarlessCityNight
Name[gl]=StarlessCityNight
Name[hu]=StarlessCityNight
Name[id]=StarlessCityNight
Name[it]=StarlessCityNight
Name[kk]=StarlessCityNight
Name[ko]=StarlessCityNight
Name[lt]=StarlessCityNight
Name[mr]=StarlessCityNight
Name[nb]=StarlessCityNight
Name[nds]=StarlessCityNight
Name[nl]=StarlessCityNight
Name[nn]=StarlessCityNight
Name[pl]=StarlessCityNight
Name[pt]=StarlessCityNight
Name[pt_BR]=StarlessCityNight
Name[ro]=StarlessCityNight
Name[ru]=StarlessCityNight
Name[sk]=StarlessCityNight
Name[sl]=StarlessCityNight
Name[sr]=StarlessCityNight
Name[sr@ijekavian]=StarlessCityNight
Name[sr@ijekavianlatin]=StarlessCityNight
Name[sr@latin]=StarlessCityNight
Name[sv]=StarlessCityNight
Name[tr]=StarlessCityNight
Name[uk]=StarlessCityNight
Name[wa]=StarlessCityNight
Name[x-test]=StarlessCityNight
Name[zh_CN]=StarlessCityNight
Name[zh_TW]=StarlessCityNight
Comment=StarlessCityNight
Comment[ca]=StarlessCityNight
Comment[ca@valencia]=StarlessCityNight
Comment[cs]=StarlessCityNight
Comment[da]=StarlessCityNight
Comment[de]=StarlessCityNight
Comment[el]=StarlessCityNight
Comment[en_GB]=StarlessCityNight
Comment[es]=StarlessCityNight
Comment[eu]=StarlessCityNight
Comment[fi]=StarlessCityNight
Comment[fr]=StarlessCityNight
Comment[gl]=StarlessCityNight
Comment[hu]=StarlessCityNight
Comment[id]=StarlessCityNight
Comment[it]=StarlessCityNight
Comment[ko]=StarlessCityNight
Comment[nl]=StarlessCityNight
Comment[nn]=StarlessCityNight
Comment[pl]=StarlessCityNight
Comment[pt]=StarlessCityNight
Comment[pt_BR]=StarlessCityNight
Comment[ru]=StarlessCityNight
Comment[sk]=StarlessCityNight
Comment[sl]=StarlessCityNight
Comment[sr]=StarlessCityNight
Comment[sr@ijekavian]=StarlessCityNight
Comment[sr@ijekavianlatin]=StarlessCityNight
Comment[sr@latin]=StarlessCityNight
Comment[sv]=StarlessCityNight
Comment[tr]=StarlessCityNight
Comment[uk]=StarlessCityNight
Comment[x-test]=StarlessCityNight
Comment[zh_CN]=StarlessCityNight
Comment[zh_TW]=StarlessCityNight
Icon=preferences-desktop-wallpaper

Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=DocInLA
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=StarlessCityNight
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=LGPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
